@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Colors */
  --color-background: var(--bg-color);
  --color-buttonPrimary: var(--button-primary);
  --color-card: var(--bg-card);
  --color-general: var(--text-general);
  --color-gray: var(--menu-hover-color);

  /* Font */
  --font-montserrat: 'Montserrat', sans-serif;

  /* Font size */
  --text-base: 16px;
  --text-lg: 20px;
  --text-sm: 14px;

  /* Spacing */

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}

:root[data-theme='Grassroots'] {
  --bg-color: #5b6b3e;
  --button-primary: #bcb8b1;
  --bg-card: #774b30;
  --text-general: #ffffff;
  --button-text-primary: #000000;
  --menu-hover-color: #7d7d7d;
}
